{% extends "base.html" %}
{% block content %}

            <article>
                <header>
                    <h1>About</h1>
                </header>
                <p class="dropfirst">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat urna non tortor porttitor at blandit neque feugiat. Pellentesque et ligula id lorem commodo lacinia. Aliquam blandit gravida nisi dictum mattis. Morbi auctor elit sit amet nunc congue pretium semper sem elementum. <a href="#">Fusce congue</a> volutpat mauris at tincidunt. Curabitur ut sapien tellus, ac sagittis augue. Nullam quam ligula, faucibus et ullamcorper sit amet, elementum ut lectus. Nulla quis lacus at felis fringilla tempus. Donec quis erat risus. Sed gravida sapien at nibh consequat in elementum massa lobortis.</p>
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat urna non tortor porttitor at blandit neque feugiat. Pellentesque et ligula id lorem commodo lacinia. Aliquam blandit gravida nisi dictum mattis. Morbi auctor elit sit amet nunc congue pretium semper sem elementum. <a href="#">Fusce congue</a> volutpat mauris at tincidunt. Curabitur ut sapien tellus, ac sagittis augue. Nullam quam ligula, faucibus et ullamcorper sit amet, elementum ut lectus. Nulla quis lacus at felis fringilla tempus. Donec quis erat risus. Sed gravida sapien at nibh consequat in elementum massa lobortis.</p>
                <div class="goldgear"><hr class="strike" /></div>
            </article>
            
{% endblock content %}